<!-- edit-blocks-one-column.html -->

<div id="section-{{ count }}" class="panel panel-default panel-sortable" >
  <div class="panel-body" >
     <h4 class="collapsed" data-toggle="collapse" data-target="#collapse-section-{{ count }}" aria-expanded="false" aria-controls="collapseExample">One Column (#{{ count }})<span></span></h4>
    <div class="collapse" id="collapse-section-{{ count }}">
    <!--<div id="collapse-section-{{ count }}">-->
      <input type="hidden" name="page_sections[{{ count }}][block]" value="one-column">
      <div class="form-group content-editor">
        <label for="content">Content</label>
        <textarea name="page_sections[{{ count }}][content]" rows="7" class="form-control" data-provide="markdown">{{ section.content }}</textarea>
      </div>
      <div class="form-group">
        <button type="button" class="remove-template-button" data-target="#section-{{ count }}">Remove Section</button>
      </div>
    </div>
  </div>
</div>